{{- if .Values.global.tls.enabled }}
{{- if .Values.global.tls.caCert -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.global.tls.caCert.secretName }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  tls.crt: {{ .Values.global.tls.caCert.cert | b64enc }}
{{- end }}
{{- end }}
